<!-- templates/manager.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>{{ name }} is welcoming you!</h1>
    <h2>List of Workers</h2>
    <ul id="workersList">
    <!-- List of workers here -->
    </ul>
    <form id="addWorkerForm">
        <button type="button" onclick="addWorker()">Add Worker</button>
    </form>
     <form method="post" action="/manager/tasks/" enctype="multipart/form-data">
        <label for="file">Select a file:</label>
        <input type="file" id="file" name="file" accept=".py">
        <button type="submit">Upload Task</button>
    </form>
    <ul id="tasksQueue">
        <!-- Queue of tasks here -->
    </ul>

    <script>

        const API_URL = 'http://127.0.0.1:8000/manager/workers/'
        function updateWorkersList() {
            fetch(API_URL)
                .then(response => response.json())
                .then(data => {
                    const workersListElement = document.getElementById('workersList');
                    workersListElement.innerHTML = '';


                    data.forEach(worker => {
                        const listItem = document.createElement('li');
                        listItem.textContent = `${worker.role}: ${worker.name} -> ${worker.state} -> ${worker.task ? worker.task.name : 'No task'}`;
                        workersListElement.appendChild(listItem);
                    });
                })
                .catch(error => console.error('Error updating workers list:', error));
        }

        function addWorker() {
            fetch(API_URL, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    console.log('Created new worker:', data);
                    updateWorkersList();
                })
                .catch(error => console.error('Error adding worker:', error));
        }

        document.addEventListener('DOMContentLoaded', updateWorkersList);
    </script>

</body>
</html>
